.container {
    width: 600px;
    margin: auto;
}
.message-list {
    border: 1px solid #dddddd;
    background-color: #f0f1f2;
    padding:30px;
    height:490px;
    overflow: scroll;
    border-bottom: none;
}
.message-row {
    margin: 30px 0;
}
.row-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
.row-top-front {
    display: flex;
}
.uuid {
    font-weight: bold;
    margin-right: 10px;
}
.date {
    font-size: 14px;
    font-style: italic;
    color: #808181;
}
.row-top-delete {
    color: red;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}
.row-content {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 8px 15px;
    background-color: white;
    margin-top: 5px;
}
.scroll-icon-container {
    border: 1px solid #dddddd;
    border-top: none;
    font-size: 30px;
    background-color: #f0f1f2;
    color: #979494;
    text-align: center;
    padding-bottom: 15px;
    height: 10px;
}
.scroll-icon {
    position: relative;
    top: -15px;
    opacity: 0;
    transition: all 0.5s;
}
.scroll-icon.active {
    opacity: 1;
}
